.container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  max-width: 393px;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  justify-content: start;
}

.statusBar {
  background-color: rgba(255, 255, 255, 1);
  align-self: flex-end;
  width: 100%;
  padding: 21px 35px;
  font-family:
    SF Pro Text,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: -0.17px;
}

.header {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 12px 59px 4px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.headerTitle {
  align-self: stretch;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-height: 32px;
  gap: 16px;
}

.categoriesFrame {
  align-self: flex-end;
  display: flex;
  min-height: 554px;
  width: 100%;
  padding: 19px 0;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
}

.instructionText {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.instructionHeader {
  display: flex;
  padding: 12px 24px;
  align-items: flex-end;
  gap: 7px;
  justify-content: center;
}

.instructionTitle {
  align-self: stretch;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-width: 240px;
  width: 100%;
}

.categoryGrid {
  margin-top: 12px;
  min-height: 100px;
  width: 345px;
  max-width: 100%;
  overflow: hidden;
  line-height: 21px;
}

.categoryRow {
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 12px;
  justify-content: start;
  flex: 1;
  height: 100%;
}

.categoryCard {
  border-radius: 10px;
  padding: 12px;
  overflow: hidden;
  width: 167px;
}

.publicFigures {
  background-color: rgba(242, 151, 151, 1);
  padding-bottom: 25px;
}

.fashionBrands {
  background-color: rgba(166, 187, 243, 1);
  padding-bottom: 46px;
}

.mediaPublications {
  background-color: rgba(208, 132, 214, 1);
  padding-bottom: 46px;
}

.industryExperts {
  background-color: rgba(174, 243, 181, 1);
  padding-bottom: 46px;
}

.companies {
  background-color: rgba(245, 191, 109, 1);
  padding-bottom: 67px;
}

.entities {
  background-color: rgba(194, 229, 255, 1);
  padding-bottom: 67px;
}

.agencies {
  background-color: rgba(248, 113, 178, 1);
  padding-bottom: 67px;
}

.footer {
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px -1px 25px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  display: flex;
  width: 100%;
  padding: 12px 0 20px;
  flex-direction: column;
  font-size: 16px;
  color: rgba(245, 245, 245, 1);
  white-space: nowrap;
  text-align: center;
  line-height: 1.3;
}

.footerContent {
  width: 100%;
  padding: 0 24px;
}

.confirmButton {
  align-self: stretch;
  border-radius: 24px;
  background-color: rgba(8, 123, 67, 1);
  min-height: 45px;
  width: 100%;
  padding: 12px 123px;
  gap: 10px;
  overflow: hidden;
}

.bottomLine {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 1);
  align-self: center;
  display: flex;
  margin-top: 29px;
  width: 135px;
  flex-shrink: 0;
  height: 5px;
}
